name: Android Parallel CI

on:
  push:
    branches: [ "main" ]

jobs:

  debug-build:
    name: Build Debug APK
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: HelloWorld

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - name: Upload Debug Artifact
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: HelloWorld/app/build/outputs/apk/debug/*.apk


  release-build:
    name: Build Release APK
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: HelloWorld

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build Release APK
        run: ./gradlew assembleRelease

      - name: Upload Release Artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: HelloWorld/app/build/outputs/apk/release/*.apk
